@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    background-color: rgb(53, 53, 53);
    color: white;
    font: Poppins sans-serif;
    text-align: center;
    font-size: small;
}


p {
    color: rgb(60, 110, 113);
}

h1#sql_h {
 color: rgb(40, 75, 99);   
}

div {
    background-color: rgb(217, 217, 217);
    color: rgb(60, 110, 113);
    text-align: left;
    border-radius: 10%;
    border: thin #c0c0c0 solid;
    padding: 1%;
    margin-bottom: 1%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
